*

!.gitignore
!requirements.txt
!README.md

!src/
src/*
!src/train.py
!src/dataset.py
!src/preprocess_audio.py
!src/preprocess_features.py
!src/prepare_data.py
!src/baseline_eval.py
!src/resample_noise.py

!notebooks/
notebooks/*
!notebooks/explore_data.py
